* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 15px;
}

.links,
.headerIcon {
  display: flex;
  align-items: center;
  font-weight: 300;
  margin: 5px 5px;
}

.profilePic {
  border-radius: 50%;
  width: 44px;
  height: 40px;
  margin-right: 20px;
}
.searchcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding: 20px; */
}
.searchcontainer > img {
  max-width: 250px;
  /* height: 150px; */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin-top: 30px;
}
.search {
  width: 100%;
  margin-bottom: 50px;
  border-radius: 50px;
  height: 20px;
  padding: 10px 14px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgb(71, 71, 71);
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.5px;
}
@media (min-width: 700px) {
  .search {
    width: 150%;
  }
  .searchcontainer > img {
    width: 500px;
  }
}
.search:hover {
  box-shadow: 2px 5px 10px;
}
button {
  font-size: 14px;
  border: 0;
  border-radius: 4px;
  margin: 0 10px;

  background: #f3f3f3;
  cursor: pointer;
  padding: 10px 8px;
  transition: 0.2s;
  color: #555;
}
button:hover {
  /* border: 0.5px solid; */
  box-shadow: 5px 1px 10px;
  transition: 0.1s ease;
}
.lang {
  margin-top: 25px;
  font-size: 1rem;
}
.lang > a {
  text-decoration: none;
  gap: 2rem;
  font-size: 10px;
}
.lang > a:hover {
  text-decoration: underline;
}

.footer {
  background: #f9f9f9;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
}
.footer > .links {
  list-style: none;
}
.link {
  font-size: 1rem;

  margin: 0 20px;

  cursor: pointer;
  /* text-align: center; */
}
